<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>LogIn Page</title>
    <link rel="stylesheet" href="css/indexstyles.css">
  </head>
  <body>
    <section class="wrapper">
      <div class="content">
        <header>
          <img src="img/logo.jpg" alt="Logo">
          <h1>Welcome ! Login to evaluate the course</h1>
        </header>
        <section>
          <form action="display" method="POST" class="login-form">
            <div class="input-group">
              <label for="email">Email</label>
              <input type="text" placeholder="Enter your Email" id="email" name="email">
            </div>
            <div class="input-group">
              <label for="password">Password</label>
              <input type="password" placeholder="Enter your Password" id="password" name="password">
            </div>
            <div class="input-group">
              <!-- <input type="submit" value="Submit" name="submit" /> -->
              <button name="submit">Submit</button></div>
          </form>
        </section>
        <footer>
          <p>Nayul Kim COMP308 Assignment1</p>
        </footer>
      </div>
    </section>
    
    
   <!-- <form method="post">
      <input
        type="text"
        size="30"
        placeholder="Enter your user name"
        name="username"
      /><br />
      <input
        type="password"
        size="30"
        placeholder="Enter your password"
        name="password"
      /><br />
      <input type="submit" value="Submit" name="submit" />
    </form> -->
  </body>
</html>
